@font-family: Lato, Helvetica, sans-serif;

html,
body {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer
}
hr {
  border-top: 2px solid #fff;
}
body {
  cursor: default;
  -webkit-user-select: none;
  font-family: @font-family;
  // overflow: hidden;
  -webkit-app-region: drag;
  margin: 0;

  background-color: #252526;
  color: #fff;
  font-family: Helvetica;

  .nav-tabs {
    justify-content: center;
  }

  a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
  }

  .main {
    text-align: center;
    -webkit-app-region: drag;
  }

  .emoji-wall {
    img {
      position: relative;
      left: 14px;
    }
  }

  .slider {
    overflow-y: hidden;
    max-height: 2%;
    // tansition: initial;
    transition-property: all;
    // transition-duration: .5s;
    // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .slider.closed {
    max-height: 0;
  }
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    // border-right: 1px solid #eee;
    background-color: #333;
    height: 100vh;
}

.draggable-line {
  cursor: ew-resize;
  position: absolute;
  z-index: 90;
  touch-action: none;

  border-color: #fff;
  width: 5px;
  top: 0px;
  height: 100vh;
}

// .content {
//   float: left;
// }

// ---------------- NAV BAR ---------------------
// .navbar {
//   padding: initial;
//   float: left;
//   height: 100vh;
//   // position: fixed;
//   overflow-y: auto;
// }
// .collapse.show {
//   padding-left: 1rem;
// }

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: ew-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
Resizer.disabled {
  cursor: not-allowed;
}
Resizer.disabled:hover {
  border-color: transparent;
}

// Spinner ---------------------
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  bottom: 50%;
  pointer-events: none;
  z-index: 100;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// blocker ----------------
#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ddd;
  opacity: 0.3;
  cursor: wait;
}

// Scroll wrapper
.scroll-wrapper {
  overflow: auto;
  width: auto;
  height: auto;
  // max-height: 75vh;
}